<div id="form-container" class="row filtersearch  my-3 my-lg-0 d-flex justify-content-center">
<form (ngSubmit)="searchKeyWord()"  [formGroup]="searchForm"  id="filter-form"
    class="row align-items-center px-lg-0 border-0 p-2">
    <div class="row col-md-6 searchText justify-content-center">

            <div class="col-12 col-md-10 mx-auto">
                <input type="text" formControlName="keyWord"  class="form-control searchText" id="exampleFormControlInput1"
                    placeholder="Search Properties">
            </div>
            <div class="col-md-2">
                <button type="submit" name="search" id="search-btn"
                    class="btn material-icons shadow-lg mx-auto py-3 px-3 d-none d-sm-block">
                    search
                </button>
            </div>
  
    </div>
    <div class="col-12 col-md-3 " style="line-height: 0%;">
        <div class="input-group">
            <select name="sortBy" (change)="onOrderBy($event)"  class="form-select border-0 py-4 label-style form-group" id="price">
                <option value="" style="color: #016450;" selected disabled><b>Order By</b></option>
                <option value="Low">Price Low to High</option>
                <option value="High">Price High to Low</option>
            </select>
        </div>
    </div>
    <div class="row col-md-12 justify-content-center">
        <div class="mb-2 col-md-2">
            <label>Province</label>
            <select class="form-select col-md-4" formControlName="province"  (change)="onProvinceSelect($event)">
                <option class="option"  *ngFor="let province of pronvinces" [value]="province.id">
                  {{ province.Name }}
                </option>
              </select>
        </div>
        <div class="mb-2 col-md-2">
            <label>City</label>
            <select class="form-select col-md-4" formControlName="city"  >
                <option class="option" *ngFor="let cit of cities" [value]="cit.id">
                  {{ cit.Name }}
                </option>
              </select>
        </div>
        <div class="mb-2 col-md-2">
            <label>Min Price</label>
            <select class="form-select col-md-4" formControlName="minPrice"  >
                <option class="option" *ngFor="let p of pricelist" [value]="p.price">
                  {{ p.price }}
                </option>
              </select>
        </div>
        <div class="mb-2 col-md-2">
            <label>Max Price</label>
            <select class="form-select col-md-4" formControlName="maxPrice">
                <option class="option" *ngFor="let p of pricelist" [value]="p.price">
                  {{ p.price }}
                </option>
              </select>
        </div>
    </div>
</form>
</div>



