<!-- Hero box with filtering form -->
<div class="container-fluid position-relative my-5">
    <div id="hero-box" class="row">
        <div class="col-lg-6 ps-5">
            <h1 class="heading-big mt-5">
                Find Your Perfect<br />
                Future Home
            </h1>
            <p class="cont-med cont-med mt-4">BitCube Properties can help you find a home of the, apartment
                for rent, sell and buy that you'll love. As with any new technology, building designers experiment and
                learn from each other in the pursuit of new solutions, can help you easily find a home, apartment for
                rent, sell and buy that you'll love.
            </p>
        </div>
        <div id="hero-img" class="col-lg-6">
            <img src="../../assets/homeimg.png" class="img-fluid d-none d-lg-block" />
        </div>
        <div class="d-none d-md-block">
            <img src="../../assets/BoxDesign.png" id="dots-img" class="img-fluid position-absolute top-0 end-0 me-4" />
        </div>
    </div>
</div>






