<div *ngIf="advert">
    <div class="row gap-3">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="wrapper">
                    <img [src]="image.src" alt="Random first slide" style="width: 100%; height: 50vh">
                </div>
                <div class="carousel-caption">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.short }}</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <hr clas="col-md-12">
    <div class="row">
        <div class="col-md-6 gap-3">
            <div class="row gap-3">
                <div class="card pricelocation">
                    <div class="card-body">
                        <h3 class="price">{{advert.price |currency: 'ZAR':"symbol-narrow"}}</h3>
                        <h6 class="mt-3 featuredes">
                            <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid me-2"
                                    style="height: 20px;"></span>{{advert.province.Name}},{{advert.city.Name}}
                        </h6>
                    </div>

                </div>

                <div class="card details">
                    <div class="card-body">
                        {{advert.details}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="card sellercard">
                    <h4 class="text-center col1">Contact Seller</h4>
                    <div class="card-body">
    
                    </div>
                </div>
            </div>
            <div></div>
            <div class="col-md-6 card">
                    <h4 class="text-center col1">Contact Form</h4>
            
                        <div class="container py-4">

                            <!-- Bootstrap 5 starter form -->
                            <form id="contactForm">
                          
                              <!-- Name input -->
                              <div class="mb-3">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                              </div>
                          
                              <!-- Email address input -->
                              <div class="mb-3">
                                <label class="form-label" for="emailAddress">Email Address</label>
                                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required, email" />
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                              </div>
                          
                              <!-- Message input -->
                              <div class="mb-3">
                                <label class="form-label" for="message">Message</label>
                                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                              </div>
                          
                              <!-- Form submissions success message -->
                              <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">Form submission successful!</div>
                              </div>
                          
                              <!-- Form submissions error message -->
                              <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                              </div>
                          
                              <!-- Form submit button -->
                              <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                              </div>            
                            </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
</div>



