.details{
    height: 14rem;
}
.main{
    height: 15rem;
}
.pricelocation{
    height: 8rem;
}
.sellercard{
    height: 15rem;
}
.contact-form{
    margin-bottom: 8px;
}
.title{
    color: #016450;
    letter-spacing: 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    line-height: 3rem;
}
.container{
    background-color: rgb(247, 246, 241);
}

.middle{
    margin-left: 5px;
}

.price {
    color: #016450;
    letter-spacing: 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    line-height: 3rem;

  }
  .featuredes {
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    letter-spacing: 2px;
    color: #999999;
  }

  .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col1 {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI Semibold");
    letter-spacing: 1.5px;
  }

  .mt-0 {
    margin-top: 0 !important;
  }
  .top17 { 
      margin-top:10px; 
      margin-right: 8px;
    }


