<div class="container-fluid my-5 p-5 card shadow-lg bg-white rounded border-0" style="width: auto;">
    <div class="row d-flex justify-content-between py-lg-4 px-4">

        <div class="col-lg-6 d-none d-lg-block align-self-stretch">
            <h2 class="h2">Sign Up to Start Listing Homes</h2>
            <h6 class="h6 pb-1 mb-lg-4">Have an account?<a routerLink="/login" class="link">Log in</a></h6>
            <img src="../../assets/signup.png" class="img-fluid h-50 w-100 mt-5" />
        </div>

        <div class="col-lg-5 mb-2">
            <!-- Log in Error Messages -->
            <div class="text-danger" *ngIf="errorMessage">
                <div class="ms-2">{{errorMessage}}</div>
            </div>
            <!-- Log in form -->
            <h2 class="h2 mb-lg-2 d-lg-none">Sign Up to Start And Start Listing Homes</h2>
            <h4 class="h2 text-center d-none d-lg-block">Sign Up</h4>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label for="first-name" class="form-label lsp weig1 mt-5">Fore Name</label>
                    <input type="text" class="form-control mt-2 pd py-4 lsp weig3 border-0 brad" id="first-name"
                        name="forename" formControlName="forename" placeholder="John"
                        required />
                        <p class="small text-danger my-2" *ngIf="f['forename'].invalid &&
                        (f['forename'].dirty ||
                        f['forename'].touched)">
                        <span *ngIf="f['forename'].errors['required']">
                            forename is a required field
                        </span>
                        <span *ngIf="f['forename'].errors['minlength']">
                            forename minimum length is 1
                        </span>
                        <span *ngIf="f['forename'].errors['maxlength']">
                            forename maximum length is 100s
                        </span>                   
                        </p> 
                </div>
                <div class="mb-4">
                    <label for="username" class="form-label lsp weig1">Surname</label>
                    <input type="text" class="form-control mt-2 pd py-4 lsp weig2 border-0 brad" id="username"
                        name="username" formControlName="surname" placeholder="JohnDoe19"
                        required />
                        <p class="small text-danger my-2" *ngIf="f['surname'].invalid &&
                        (f['surname'].dirty ||
                        f['surname'].touched)">
                        <span *ngIf="f['surname'].errors['required']">
                            surname is a required field
                        </span>
                        <span *ngIf="f['surname'].errors['minlength']">
                            surname minimum length is 1
                        </span>
                        <span *ngIf="f['surname'].errors['maxlength']">
                            surname maximum length is 100
                        </span>                   
                        </p>
                </div>
                <div class="mb-4">
                    <label for="last-name" class="form-label lsp weig1">Email Address</label>
                    <input type="text" class="form-control mt-2 pd py-4 weig2 border-0 brad" id="last-name"
                        name="lastName" formControlName="email" placeholder="njomane@gmail.com" />
                        <p class="small text-danger my-2" *ngIf="f['email'].invalid &&
                        (f['email'].dirty ||
                        f['email'].touched)">
                        <span *ngIf="f['email'].errors['required']">
                            email is a required field
                        </span>
                        <span *ngIf="f['email'].errors['minlength']">
                            surnemailme minimum length is 1
                        </span>
                        <span *ngIf="f['email'].errors['maxlength']">
                            email maximum length is 100
                        </span>
                        <span *ngIf="f['email'].errors['email']">
                            email mushave have @ character
                        </span>                    
                        </p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label lsp weig1">Password</label>
                    <input type="password" class="form-control mt-2 pd py-4 lsp weig2 border-0 brad" id="password"
                        name="password" formControlName="password" placeholder="********"
                        required />
                        <p class="small text-danger my-2" *ngIf="f['password'].invalid &&
                        (f['password'].dirty ||
                        f['password'].touched)">
                        <span *ngIf="f['password'].errors['required']">
                            email is a required field
                        </span>
                        <span *ngIf="f['password'].errors['minlength']">
                            surnemailme minimum length is 1
                        </span>
                        <span *ngIf="f['password'].errors['maxlength']">
                            email maximum length is 100
                        </span>
                        <span *ngIf="f['password'].errors['email']">
                            email mushave have @ character
                        </span>                    
                        </p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label lsp weig1">Confirm Password</label>
                    <input type="password" class="form-control mt-2 pd py-4 lsp weig2 border-0 brad" id="password"
                        name="password" formControlName="password" placeholder="********"
                        required />
                        <p class="small text-danger my-2" *ngIf="f['confirmpassword'].invalid &&
                        (f['confirmpassword'].dirty ||
                        f['confirmpassword'].touched)">
                        <span *ngIf="f['confirmpassword'].errors['required']">
                            confirmpassword is a required field
                        </span>
                        <span *ngIf="f['confirmpassword'].errors['minlength']">
                            confirmpassword minimum length is 1
                        </span>
                        <span *ngIf="f['confirmpassword'].errors['maxlength']">
                            confirmpassword maximum length is 100
                        </span>
                        <span *ngIf="f['confirmpassword'].errors['email']">
                            confirmpassword mushave have @ character
                        </span>              
                        </p>
                </div>

                <button type="submit" class="btn  btncolor px-5 lsp mt-5 shadow-lg" style="margin:auto;display:block">
                    SIGNUP
                </button>
            </form>
            <h6 class="h6 pb-1 mb-lg-4 d-lg-none text-center ">Have an account ?<a routerLink="/login" class="link">Login</a></h6>
        </div>
    </div>
</div>
