<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Featured <b>Homes</b></h2>
			<div class="content-section implementation carousel-demo">
				<p-carousel [value]="adverts" [numVisible]="3" [numScroll]="1" [circular]="false"
					 [responsiveOptions]="responsiveOptions">
					<ng-template let-advert pTemplate="item">
						<div class="product-item">
							<div class="product-item-content">
								<div>
									<h4 class="p-mb-1">{{advert.headlineText}}</h4>
									<h6 class="p-mt-0 p-mb-3">{{advert.price |currency: 'ZAR':"symbol-narrow"}}</h6>
								</div>
							</div>
						</div>
					</ng-template>
				</p-carousel>
			</div>
		</div>
	</div>
</div>