
    
<div class="modal-content border-0">
  <div class="modal-body p-0">
    <div class="card border-0 p-sm-3 p-2 justify-content-center">
      <div class="card-header pb-0 bg-white border-0 ">
        <div class="row">
          <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
      </div>
        <p class="font-weight-bold mb-2 text-warning"><b>{{ message }}</b> </p>
      </div>
      <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
        <div class="row justify-content-end no-gutters">
          <div class="col-auto"><button type="button" class="btn btn-light text-muted" data-dismiss="modal"
              (click)="decline()">{{ btnCancelText }}</button></div>
          <div class="col-auto"><button type="button" class="btn btn-danger px-4" data-dismiss="modal"
              (click)="accept()">{{ btnOkText }}</button></div>
        </div>
      </div>
    </div>
  </div>
</div>