<div class="row top17">
    <div class="card card-color sellercard text-center">
        <div class="card-body">
            <h5 class="card-title text-center title col1">Contact Seller</h5>
            <div class="seller-details d-flex justify-content-center">
                <div>Buyani Mhlongo
                 <br>076 343 2298<br>
                 buyanimhlongo@gmail.com
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row top17 contact-form">
    <div class="card contactcard card-color">
        <div class="card-body">
            <h5 class="card-title title text-center col1">Contact Form</h5>
            <form class="text-center">
                <input type="text"class="form-control mb-4" placeholder="your name">
                <input type="email"class="form-control mb-4" placeholder="your email">
                <input type="text"class="form-control mb-4" placeholder="your cellphone">
                <textarea class="form-control mb-4" type="text" placeholder="I'm interested in this property, please contact me." rows="3"></textarea>
                <button class="btn btncolor btn-info btn-block my-4" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>