<!--Footer-->
<div class="footer-dark ftr">
    <footer>
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="px-2 hd">Menu</h3>
                    <ul class="nav flex-column col1">
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/home">Home</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/properties">Homes For Sale</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/listproperty">Sell A Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <img src="../../assets/logobitcube.png" alt="" width="40" height="40" class="img-fluid me-4" /><p class="text-center text-muted hd1 mt-4">BitCube Properties © 2022</p>
        </div>
    </footer>
</div>